<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="index.html" style="color: #fff;">
                <div class="logo-default">
                    <h4><b>AUCTION</b></h4>
                </div>
            </a>
            <!-- <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div> -->
        </div>
        <!-- <a class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a> -->
        <div class="top-menu">
        </div>
    </div>
</div>